@model IEnumerable<new_app.Models.Country>

@{
    ViewBag.Title = "Countries List";
}

<h2>Countries</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Countries")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Countries", new { id = item.Id }, null) |
                    @Html.ActionLink("Details", "Details", "Countries", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Countries", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>